*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

:root {
  --primary-color:  #282828;
  --secondary-color: #FFFFFF;
  --crimson-color: #dc143c;
  --hover-color: gold;
}

.bg-shape {
  background-color: #282828;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23DC143C'/%3E%3Cstop offset='1' stop-color='%23DC143C'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath transform='translate(-26.6 -15.2) rotate(-15.2 1409 581) scale(0.886)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='translate(-95 38) rotate(-7.6 800 450) scale(0.981)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-26.6 57) rotate(-95 401 736) scale(0.981)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='translate(228 22.8) rotate(-5.7 150 345) scale(1.038)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='translate(57 -114) rotate(-136.8 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-15.2 -15.2) rotate(-22.8 1400 132) scale(0.81)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.spinner {
  height: 100vh;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .dot1, .dot2, .dot3 {
  width: 15px;
  height: 15px;
  border: double;
  border-color: white;
  border-radius: 50%;
  margin: 10px;
 }
 
 .dot1 {
  animation: jump765 1.6s -0.32s linear infinite;
  background: var(--crimson-color);
 }
 
 .dot2 {
  animation: jump765 1.6s -0.16s linear infinite;
  background: var(--crimson-color);
 }
 
 .dot3 {
  animation: jump765 1.6s linear infinite;
  background: var(--crimson-color);
 }
 
 @keyframes jump765 {
  0%, 80%, 100% {
   -webkit-transform: scale(0);
   transform: scale(0);
  }
 
  40% {
   -webkit-transform: scale(2.0);
   transform: scale(2.0);
  }
 }
 
.img-rounded-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border: 3px solid var(--secondary-color);
}

.title-page {
  font-size: 30px;
  position: relative;
  padding: 5px 0;
}
.title-page::before {
  content: '';
  width: 80px;
  height: 4px;
  background-color: crimson;
  position: absolute;
  bottom: 0;
  left: 50;
}



.title-section {
  font-size: 20px;
}

.isActive {
  color: var(--hover-color) !important;
}

.skills-icon {
  font-size: 3rem;
  margin: 10px 20px;
  color: var(--secondary-color);
}
.skills-icon:hover {
  color: var(--crimson-color);
  transition: 0.8s;
  cursor: pointer;
}

.bn5 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* .bg-triangle-animated {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1017%26quot%3b)' fill='none'%3e%3cpath d='M514.5066515181102 70.09404968620129L404.37795211230656 79.72906241306326 524.1416642449722 180.2227490920049z' fill='rgba(220%2c 20%2c 60%2c 0.29)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1279.76 475.61 a144.51 144.51 0 1 0 289.02 0 a144.51 144.51 0 1 0 -289.02 0z' fill='rgba(220%2c 20%2c 60%2c 0.29)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1346.8309959324372 143.23524177568396L1434.500005523835 92.61951548850251 1383.8842792366536 4.950505897104733 1296.2152696452558 55.56623218428618z' fill='rgba(220%2c 20%2c 60%2c 0.29)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M711.66 53.58 a121.44 121.44 0 1 0 242.88 0 a121.44 121.44 0 1 0 -242.88 0z' fill='rgba(220%2c 20%2c 60%2c 0.29)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1017'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1045%26quot%3b)' fill='none'%3e%3cpath d='M609.7022731835041 185.6591062664612L627.8421206081242 37.92190468975275 480.1049190314157 19.782057265132664 461.9650716067956 167.51925884184112z' fill='rgba(220%2c 20%2c 60%2c 0.2)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1040.2656540214298 265.5380849948527L900.5380192399966 272.72737750922886 965.3500594176284 376.44832330308884z' fill='rgba(220%2c 20%2c 60%2c 0.2)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M139.49741978489195 266.4824316148223L49.7672632598772 365.9470745018177 163.86625493414408 392.28890231890637z' fill='rgba(220%2c 20%2c 60%2c 0.2)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-92.53873102724842 232.2452097039723L-46.668307634163256 326.2935150016837 71.46893861586128 210.46372726320027z' fill='rgba(220%2c 20%2c 60%2c 0.2)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1045'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
} */

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-crimson {
  background-color: var(--crimson-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-crimson {
  color: var(--crimson-color);
}

/* font-weight */
.weight-low {
  font-weight: 600;
}
.weight-medium {
  font-weight: 700;
}
.weight-bold {
  font-weight: bold;
}

/* Text Alignment */
.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

.f-wrap {
  flex-wrap: wrap;
}

/* Row */
.row {
  display: flex;
  padding: 10px;
}

/* Display */
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}



/* Justify flexbox */
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}

/* Align flexbox */
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-start {
  align-items: flex-start;
}

/* Width based on layout */
.w-100 {
  width: 100%;
}
.w-90 {
  width: 90%;
}
.w-80 {
  width: 80%;
}
.w-70 {
  width: 70%;
}
.w-60 {
  width: 60%;
}
.w-50 {
  width: 50%;
}


/* Margin */
.mx-auto {
  margin: 0 auto;
}
.m-1{
  margin: 10px;
}
.m-2{
  margin: 20px;
}
.m-3{
  margin: 30px;
}
.m-4{
  margin: 40px;
}
.m-5{
  margin: 50px;
}

/* Margin top */
.mt-1{
  margin-top: 10px;
}
.mt-2{
  margin-top: 20px;
}
.mt-3{
  margin-top: 30px;
}
.mt-4{
  margin-top: 40px;
}
.mt-5{
  margin-top: 50px;
}

/* Margin bottom */

.mb-1{
  margin-bottom: 10px;
}
.mb-2{
  margin-bottom: 20px;
}
.mb-3{
  margin-bottom: 30px;
}
.mb-4{
  margin-bottom: 40px;
}
.mb-5{
  margin-bottom: 50px;
}

/* Margin right */

.me-1{
  margin-right: 10px;
}
.me-2{
  margin-right: 20px;
}
.me-3{
  margin-right: 30px;
}
.me-4{
  margin-right: 40px;
}
.me-5{
  margin-right: 50px;
}

/* Margin left */

.ms-1{
  margin-left: 10px;
}
.ms-2{
  margin-left: 20px;
}
.ms-3{
  margin-left: 30px;
}
.ms-4{
  margin-left: 40px;
}
.ms-5{
  margin-left: 50px;
}

/* padding */
.p-1{
  padding: 10px;
}
.p-2{
  padding: 20px;
}
.p-3{
  padding: 30px;
}
.p-4{
  padding: 40px;
}
.p-5{
  padding: 50px;
}

/* padding top */
.pt-1{
  padding-top: 10px;
}
.pt-2{
  padding-top: 20px;
}
.pt-3{
  padding-top: 30px;
}
.pt-4{
  padding-top: 40px;
}
.pt-5{
  padding-top: 50px;
}

/* padding bottop */

.pb-1{
  padding-bottom: 10px;
}
.pb-2{
  padding-bottom: 20px;
}
.pb-3{
  padding-bottom: 30px;
}
.pb-4{
  padding-bottom: 40px;
}
.pb-5{
  padding-bottom: 50px;
}

/* padding right */

.pe-1{
  padding-right: 10px;
}
.pe-2{
  padding-right: 20px;
}
.pe-3{
  padding-right: 30px;
}
.pe-4{
  padding-right: 40px;
}
.pe-5{
  padding-right: 50px;
}

/* padding left */

.ps-1{
  padding-left: 10px;
}
.ps-2{
  padding-left: 20px;
}
.ps-3{
  padding-left: 30px;
}
.ps-4{
  padding-left: 40px;
}
.ps-5{
  padding-left: 50px;
}
